.card-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 384px;

  .picture-container {
    border: 1px solid green;
    display: flex;

    .before {
    }

    .after {
    }
  }
}
