$primary-theme: #3c354e; 
$secondary-theme: #736f90; 
$accent-theme: #b805ff; 

$font-header: white;
$font-body: black;
$font-footer: white;

$background-header: #3c354e;
$background-body: white;
$background-footer: #3c354e;