// Main colors for theme
$primary-theme: #3c354e;
$primary-theme-rgba: rgba(60, 53, 78, 100);
$secondary-theme: #8e898d;
$secondary-theme-rgba: rgba(142, 137, 141, 100);
$accent-theme: #cc16cc;
$accent-theme-rgba: rgba(204, 22, 204, 100);

// Opacity
$all-opacity: 0.8;

// Font colors for main areas
$font-header: white;
$font-body: black;
$font-footer: white;

// Background colors for main area
$background-header: #3c354e;
$background-body: white;
$background-footer: #3c354e;

// Navigation colors
$navbar-background: rgba(60, 53, 78, $all-opacity);
$navbar-socials: white;

// Socials
$facebook: #3c599a;
$whatsapp: #53b262;
