// Padding
$padding-textarea: 8px 3px;
$padding-content: 5vh;

// Transitions
$transition: all 0.2s ease-in-out;
$transition-duration: 0.5s;

// Borders
$border-height: 4px;

// Social media icons
$width: 64px;
$height: 64px;
