// ----------IMPORTANT----------
// Convert pixels to a better unit like rem or em

// Content padding
$padding-textarea: 10px 4px;
$padding-content: 50px;
$padding-input: 10px 3px;
$padding-select: 10px 0;

// Transitions
$transition: all 0.2s ease-in-out;
$transition-duration: 0.5s;

// Borders
$border-height: 4px;

// Social media icons
$width: 64px;
$height: 64px;
