// To make rem sizing easier e.g. (2rem = 20px)
$html: 62.5%;

// Font family and sizing
$family: Verdana, sans-serif;
$size-home-heading: 3.8rem;
$size-heading: 3.2rem;
$size-sub-heading: 1.8rem;
$size-normal: 1.6rem;
$size-emphasize-capital: 1.4rem;