@use '../../../abstracts/colors.scss';
@use '../../../abstracts/fonts.scss';

.button {
    width: 10vw;
    height: 5vh;
    border: 2px solid white;
    background-color: transparent;
    color: colors.$font-footer;
    font-size: fonts.$size-normal;

    &:hover {
        cursor: pointer;
        border: none;
        background-color: colors.$accent-theme;
        transition: all 0.2 ease-in-out;
        transition-duration: 1s;
    }
}