@use "sass:math";
@use '../../../abstracts/colors';
@use '../../../abstracts/defaults';

#nav-container {
    flex-grow: 1;

    display: flex;
    border-bottom: 0.4rem solid colors.$accent-theme;

    /* Logo (left part of nav bar) */
    #logo-container {
        flex-grow: 2;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        #logo {
            width: 100%;
            height: 100%;
        }
    }

    /* Navigation (middle part of nav bar) */
    #nav-links-container {
        flex-grow: 7;

        display: flex;

        #nav-links {
            flex-grow: 10;

            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: space-around;

            li {
                * {
                    color: colors.$font-header;
                    text-decoration: none;
                }

                .link {
                    position: relative;
                    padding: 10px;
                    border-radius: 0 25px 0 25px;
                    -webkit-transition: all 0.5s ease-out;
                    -moz-transition: all 0.5s ease-out;
                    -o-transition: all 0.5s ease-out;
                    transition: all 0.5s ease-out;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(204, 22, 204, 0.8);
                    }

                    &::after {
                        content: '';
                        background-color: colors.$font-header;
                        display: block;
                        position: absolute;
                        width: 0;
                        height: math.div(defaults.$border-height, 2);
                        left: 50%;
                        bottom: 0;
                        opacity: 1;
                    }
                }

                .active {
                    &::after {
                        -webkit-transition: all 0.5s ease-out;
                        -moz-transition: all 0.5s ease-out;
                        -o-transition: all 0.5s ease-out;
                        transition: all 0.5s ease-out;
                        width: 100%;
                        left: 0;
                   }
               }
            }
        }
    }

    /* Socials (right part of nav bar) */
    #nav-socials-container {
        flex-grow: 2;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .socials {
            width: defaults.$width - 32px;
            height: defaults.$height - 32px;

            &:hover {
                cursor: pointer;
                background-color: colors.$navbar-socials;
            }
        }
    }
}