@use '../../../abstracts/colors';
@use '../../../abstracts/defaults';

#nav-container {
    flex-grow: 1;

    display: flex;
    border-bottom: 0.4rem solid colors.$accent-theme;

    /* Logo (left part of nav bar) */
    #logo-container {
        flex-grow: 2;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        #logo {
            width: 100%;
            height: 100%;
        }
    }

    /* Navigation (middle part of nav bar) */
    #nav-links-container {
        flex-grow: 7;

        display: flex;

        #nav-links {
            list-style-type: none;
            flex-grow: 10;

            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                position: relative;
                padding: 0.5vw;
                -webkit-transition: background-color 0.5s ease-out;
                -moz-transition: background-color 0.5s ease-out;
                -o-transition: background-color 0.5s ease-out;
                transition: background-color 0.5s ease-out;
                border-radius: 0 25px 0 25px;
                
                &:hover {
                    cursor: pointer;
                    background-color: rgba(204, 22, 204, 0.8);
                }

                * {
                    color: colors.$font-header;
                    text-decoration: none;
                }

                &.link {
                    position: relative;

                    &::after {
                        content: '';
                        background-color: colors.$accent-theme;
                        display: block;
                        position: absolute;
                        width: 0;
                        height: defaults.$border-height / 2;
                        left: 50%;
                        bottom: 10;
                        transition: all 0.2s ease-in-out;
                        transition-duration: 0.5s;
                        opacity: 0;
                    }
                }
            }

            .active {
                li {
                    background-color: rgba(204, 22, 204, 0.8);
                }

                &::after {
                    width: 100%;
                    opacity: 1;
                    left: 0;
                }
            }
        }
    }

    /* Socials (right part of nav bar) */
    #nav-socials-container {
        flex-grow: 2;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .socials {
            width: defaults.$width - 32px;
            height: defaults.$height - 32px;

            &:hover {
                cursor: pointer;
                background-color: colors.$navbar-socials;
            }
        }
    }
}