@use '../../abstracts/colors';
@use '../../abstracts/others';

#nav-container {
    flex-grow: 1;

    display: flex;
    border-bottom: 0.4rem solid colors.$accent-theme;

    /* Logo (left part of nav bar) */
    #logo-container {
        flex-grow: 2;
        
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        #logo {
            width: 100%;
            height: 100%;
        }
    }

    /* Navigation (middle part of nav bar) */
    #nav-links-container {
        flex-grow: 7;

        display: flex;

        #nav-links {
            list-style-type: none;
            flex-grow: 10;

            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                position: relative;

                * {
                    color: colors.$font-header;
                    text-decoration: none;
                }

                .link {
                    position: relative;

                    &::after {
                        content: '';
                        background-color: colors.$accent-theme;
                        display: block;
                        position: absolute;
                        width: 0;
                        height: others.$border-size;
                        left: 50%;
                        bottom: 10;
                        transition: all 0.2s ease-in-out;
                        transition-duration: 0.5s;
                        opacity: 0;
                    }
                }

                .active {
                    color: colors.$accent-theme;
                }

                &:hover {
                    cursor: pointer;

                    .link {
                        &:after {
                            width: 100%;
                            opacity: 1;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    /* Socials (right part of nav bar) */
    #nav-socials-container {
        flex-grow: 2;
        
        border: 1px solid red;

        * {
            width: 100%;
            height: 100%;
        }
    }
}