@use '../../abstracts/colors';

#nav-container {
    display: flex;
    flex-grow: 1;
    background-color: colors.$primary-theme;
    border-bottom: 0.4rem solid colors.$accent-theme;

    /* Logo (left part of nav bar) */
    #logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
        
        border: 1px solid red;

        #logo {
            border: 1px solid red;
            width: 100%;
            height: 100%;
        }
    }

    /* Navigation (middle part of nav bar) */
    #nav-links-container {
        flex-grow: 7;
        border: 1px solid red;

        display: flex;

        #nav-links {
            list-style-type: none;
            flex-grow: 10;

            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                position: relative;

                * {
                    color: white;
                    text-decoration: none;
                }

                .hover {
                    position: relative;

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        bottom: -5%;
                        width: 0%;
                        height: 2px;
                        transition: all 0.2s ease-in-out;
                        transition-duration: 0.5s;
                        opacity: 0;
                        background-color: colors.$accent-theme;
                        left: 0;
                    }
                }

                .active {
                    color: colors.$accent-theme;
                }

                &:hover {
                    cursor: pointer;
                    .hover {
                        &:before, &:after {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    /* Socials (right part of nav bar) */
    #socials-container {
        flex-grow: 2;

        * {
            width: 100%;
            height: 100%;
        }
    }
}