@use "sass:math";

@use '../../../abstracts/fonts';
@use '../../../abstracts/colors';
@use '../../../abstracts/defaults';

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-position: center;
    background-size: 100%;
    height: 100vh;

    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .content {
            color: white; 
            padding: 50px; 
            border-radius: 0 100px 0 100px;
            background-color: rgba(60, 53, 78, colors.$all-opacity);
            
            .title {
                margin-bottom: math.div(defaults.$padding-content, 2);
    
                .highlight {
                    color: colors.$accent-theme;
                    font-style: italic;
                }
            }
    
            .subtitle-button-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
    
                .subtitle {
    
                }
            }
        }
    }

    #chevron-container {
        display: flex;
        height: 12vh;
        overflow: hidden;
        position: relative;
        bottom: 0;

        #chevron {
            background-color: transparent;
            border-top: 10vh solid transparent;
            border-left: 50vw solid colors.$primary-theme;
            border-right: 50vw solid colors.$primary-theme;
        }
    }
}