@use "../../../abstracts/defaults.scss";
@use "../../../abstracts/colors.scss";

.employee-card {
  border: defaults.$border-height solid colors.$accent-theme;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 25px;
  width: 256px;
  height: 384px;
  -webkit-transition: defaults.$transition;
  -ms-transition: defaults.$transition;
  -moz-transition: defaults.$transition;
  -o-transition: defaults.$transition;
  transition: defaults.$transition;
  color: white;

  &:not(:last-child) {
    margin-right: 50px;
  }

  .employee-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 100%;
    -webkit-transition: defaults.$transition;
    -ms-transition: defaults.$transition;
    -moz-transition: defaults.$transition;
    -o-transition: defaults.$transition;
    transition: defaults.$transition;
  }
}
