@use '../../abstracts/colors';

#header-container {
    display: flex;
    height: 8vh;
    min-height: 6vh;
    max-height: 10vh;
    color: colors.$font-header;
    background-color: colors.$background-header;
}