@use '../../abstracts/colors';

#header-container {
    position: fixed;
    width: 100%;
    display: flex;
    height: 8vh;
    min-height: 6vh;
    max-height: 10vh;
    background-color: colors.$navbar-background;
    z-index: 1;
}