@use '../../abstracts/colors';

#footer-container {
    display: flex;
    flex-direction: column;
    background: colors.$background-footer;
    color: colors.$font-footer;

    #chevron {
        background-color: colors.$background-footer;
        border-top: 10vh solid colors.$background-body;
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        position: relative;
    }
}