@use '../../../abstracts/colors.scss';
@use '../../../abstracts/fonts';
@use '../../../abstracts/defaults';

#socials-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: defaults.$padding-content;
    background-color: colors.$secondary-theme;
    
    #socials-link {
        border: 1px solid red;
        width: 100%;
        display: flex;
        justify-content: space-around;

        .socials {
            width: 64px;
            height: 64px;
            background-color: transparent;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;

            &:hover {
                background-color: white;
            }

            &.facebook {
                background-image: url('../../../assets/static/socials/Facebook.svg');
            }

            &.whatsapp {
                background-image: url('../../../assets/static/socials/Whatsapp.svg');
            }
        }
    }

    #copyright-text {
        width: auto;
        padding: 3vh 0;
        font-size: fonts.$size-emphasize-capital;

        #copyright-icon {
            color: colors.$accent-theme;
        }
    }
}