@use '../../../abstracts/colors.scss';
@use '../../../abstracts/fonts';
@use '../../../abstracts/defaults';

#socials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: defaults.$padding-content;
    background-color: colors.$secondary-theme;
    
    #socials-link {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .socials {
            display: flex;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
                .facebook, .whatsapp-circle {
                    fill: white;
                }
            }

            .whatsapp-phone {
                fill: colors.$whatsapp;
            }

            .facebook, .whatsapp {
                width: 64px;
                height: 64px;
            }

            .facebook, .whatsapp-circle {
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
                fill: colors.$secondary-theme;
            }
        }
    }

    #copyright-text {
        width: auto;
        padding: 3vh 0;
        font-size: fonts.$size-emphasize-capital;

        #copyright-icon {
            color: colors.$accent-theme;
        }
    }
}