@use './abstracts/fonts';
@use './abstracts/colors';
@use './abstracts/defaults';

* {
  font-family: fonts.$family;
}

html {
  font-size: fonts.$html;
}

textarea {
  padding: defaults.$padding-textarea;
}

body {
  font-size: fonts.$size-normal;
  color: colors.$font-body;
  background-color: colors.$background-body;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}