@use './abstracts/fonts';
@use './abstracts/colors';
@use './abstracts/defaults';

* {
  font-family: fonts.$family;
  font-weight: normal;
}

html {
  font-size: fonts.$html;
}

textarea {
  padding: defaults.$padding-textarea;
}

h1 {
  font-size: fonts.$size-landing-page-heading;
}

h2 {
  font-size: fonts.$size-heading;
}

h3 {
  font-size: fonts.$size-sub-heading;
}

body {
  font-size: fonts.$size-normal;
  color: colors.$font-body;
  background-color: colors.$background-body;
}

ul {
  padding: 0;
}

body, ul, p, h1, h3  {
  margin: 0
}